* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #7F0D22;
    --secundaria:#CCC3B1;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}
section {
    margin: 1rem 0;
}
.naveg{ 
    position: sticky;
    top: 0;
    
    padding: 0 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 70px;
    z-index: 100;
}
body {
    
    background-size: cover; /* cobre toda a tela */
    background-repeat: no-repeat;
    background-position: center;

}

html, body{
    min-height: 100%;
    margin: 0;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgba(255,255,255,0.08);
    padding: 8px 12px;
    border-radius: 30px;

    border: 2px solid transparent;
}
.menu a{
    text-decoration: none;
    color: var(--secundaria);
    padding: 6px 14px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.butao{
      opacity: 0.7;
  transition: 0.3s;
}
.butao:hover{
      opacity: 1;
}
#Inicio{
    scroll-margin-top: 250px;
}
#nome-inicio {
    font-size: 400px;
    margin-top: 150px;
    margin-left: 215px;
    font-family: 'Parisienne', cursive;
    color: var(--secundaria);
    
}
#legend-inicio{
    margin-top: 0px;
    margin-left: 770px;
    color: var(--secundaria);
}
.principal{
    display: flex;
    
}
.imagem-principal{
    margin-left: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.25);
    margin-top: 200px;
    margin-left: 340px;/*centralize por aqui*/
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}
.imagem-principal:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 40xpx rgba(0,0,0,0.3);
}
.info-principal {
    color: var(--secundaria);
    margin: 50px;
    max-width: 700px;
    text-align: justify;
    margin-left: 100px;/*centralize por aqui*/
    margin-top: 200px;
    
}
#nome-info-principal{
font-family: 'Parisienne', cursive;
font-weight: 400; /* mais leve */
font-size: 70px;
transition: box-shadow 0.3s ease;
}

#nome-info-principal :hover {
    box-shadow: 0 15px 40xpx rgba(0,0,0,0.3);
}
#main{
    margin-top: 400px;
}

.carrosel-css{
    position: relative;
    width: 700px;
    margin-top: 0px;
    margin-left: 590px;
    margin-bottom: 180px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}
.carrosel-css:hover{
    transform: scale(1.01);
    box-shadow: 0 15px 40xpx rgba(0,0,0,0.3);
}

.slides{
    display: flex;/*alinha os slides lado a lado*/
    transition: transform 0.5s ease-in-out;/*animação slide*/
}
.slide{
    min-width: 100%;
    box-sizing: border-box;
}
.slide img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.descricao{
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px;
    text-align: center;
}
.carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  z-index: 10;
}
.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.bg-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}